<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investments for Customer ID <%= customerId %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>Old Associate Information:</h2>
<p>Old Associate: <%= associate.oldassociateName || 'Not Provided' %></p>
</body>
</html>
